<div class="table_container">
  <div class="section-title">
    納品書の作成
  </div>

  <table class="table-bordered">
    <thead>
      <tr>
        <th>会社名</th>
        <th>発注</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td class="table-name"><%= customer.company %></td>
          <td><%= link_to '納品書を作成する', new_customer_sell_path(customer.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="back">
    <%= link_to  '前のページに戻る', root_path %>
  </div>
</div>