<div>明細書作成画面<div>
  <div>
    業者のプルダウンを設置
  </div>

  <form>
    <label for="date">開始日</label>
    <input type="date">
  </form>
  <form>
    <label for="date">終了日</label>
    <input type="date">
  </form>

  <button>明細表示ボタン</button>
  JavaScriptで動的に表示<br>
  印刷用PDFを表示<br>
