.box_container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.box-side {
  display: flex;
}

.box-center {
  padding: 10px;
  margin: 0 auto;
}

.box-wrap {
  width: 100%;
  margin-bottom: 24px;
}

.box-label {
  font-size: 20px;
}

.box-pull {
  width: 200px;
  height: 40px;
}

.box-calender{
  width: 200px;
  height: 40px;
}


.box-search{
  width: 200px;
  height: 40px;
}

.box-wrap-btn {
  margin-top: 40px;
}