.input_container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.section-title {
  text-align: center;
  height: 64px;
  font-size: 32px;
}

.sub-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.form_wrap {
  width: 100%;
  padding-bottom: 24px;
}

.form_wrap_text {
  font-size: 16px;
  font-weight: bold;

}

.form_wrap_field {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid gray;
  font-size: 16px;
  padding: 0 8px;
  box-sizing: border-box;
}

.form_btn {
  text-align: center;
  height: 40px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid gray;
  border-radius: 4px;
}

.btn_wrap {
  text-align: center;
  width: 100%;
  font-size: 16px;
  padding: 24px 0;
}

.attension {
  background-color :rgb(55, 60, 133);
  color: white;
  padding: 0 8px;
  border-radius: 2px;
  font-size: 14px;
}

.form-group {
  margin-bottom: 16px;
}
