 /* @font-face {
 font-family: 'MigMix 2P'; 
   src: url('<%= Rails.root.join("app/assets/fonts/migmigx-2p-regular.ttf") %>') format('truetype'); 
}
body {
  font-family: 'MigMix 2P', sans-serif;
}
.pdf-body {
  font-family: 'MigMix 2P', sans-serif; 
} */

@font-face {
  font-family: 'IPAexGothic';
  src: url('file:///opt/render/project/.fonts/ipaexg.ttf') format('truetype');
}

body {
  font-family: 'IPAexGothic', sans-serif;
}