/* サイドバー */

.side-bar {
  width: 200px;
  padding: 8px;
}

.side-bar p {
  margin-left: 32px;
  font-size: 20px;
}

/* メイン */

.top-main {
  display: flex;
  padding: 8px;
}


.contents {
  margin: 16px 0 0 32px;
}

.top-main p {
  background-color: rgb(70, 76, 165);
  font-size: 24px;
  border-radius: 8px;
  padding: 4px;
  width: 200px;
  height: 40px;
  text-align: center;
  margin-top: 16px;
}

.btn {
  text-decoration: none;
  color: white;
}

@media (max-width: 700px) {
  .top-main {
    display: block;
  }
  .top-menu {
    font-size: 20px;
  }
  .contents {
    margin: 8px 0 0 16px;
  }
  .side-bar p {
    margin-left: 24px;
    font-size: 16px;
  }
  .top-main p {
    font-size: 20px;
    width: 180px;
    height: 32px;
  }
}