.user-menu {
  background-color: rgb(235, 232, 232);
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: 22px;
  
}

.user-title {
  font-size: 30px;
}

.form-wrapp {
  padding: 15px;
}

