<div class="input_container">
  <div class="section-title">
    カテゴリの編集
  </div>

  <%= form_with model: @category, local: true do |f| %>

    <div>
      <%= f.label :category, 'カテゴリ名', class: "foorm_wrap_text" %>
      <span class="attension">必須</span><br>
      <%= f.text_field :category, class: "form_wrap_field" %>
    </div>
    <div class="btn_wrap">
      <%= f.submit "更新", class: "form_btn" %>
    </div>
  <% end %>
</div>