<h1>カテゴリ一覧</h1>

<% @categories.each do |category| %>
<div>
  <%= category.category %>
  <%= link_to '編集', edit_category_path(category.id) %>
  <%= link_to '削除', category_path(category.id), data: { turbo_method: :delete } %>
</div>
<% end %>