<div class="table_container">
  <div class="section-title">
    発注書の作成
  </div>

  <table class="table-bordered">
    <thead>
      <tr>
        <th>会社名</th>
        <th>発注</th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |supplier| %>
        <tr>
          <td><%= supplier.company %></td>
          <td><%= link_to '発注書を作成する', new_supplier_buy_path(supplier.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>